<form
  hx-on="htmx:after-request: this.reset()"
  hx-post="/htmx-api/todo"
  hx-target="#todo-list"
  hx-swap="innerHTML"
  class="max-w-md"
>
  <div class="flex items-center gap-2 mb-4">
    <input
      id="todo"
      name="text"
      type="text"
      class="flex w-full h-10 px-3 py-2 text-sm border rounded-md border-input bg-background ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:bg-neutral-700 dark:text-white"
      placeholder="Add a new task"
    /><button
      type="submit"
      class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 dark:bg-neutral-700 dark:text-white"
    >
      Add
    </button>
  </div>
</form>
