<!-- prettier-ignore -->
{% extends "base.html" %}
 
{% block title %}Todo Application{% endblock %}
 
{% block content %}

<div class="flex flex-col h-screen dark:bg-neutral-900">
  <header
    class="flex items-center px-6 border-b h-14 bg-neutral-100/40 dark:bg-neutral-800/40"
  >
    <h1 class="text-lg font-semibold dark:text-white">Todo List</h1>
  </header>
  <main class="flex-1 p-6 dark:bg-neutral-800">
    <div id="load-error" class="dark:text-white"></div>
    {% include "todo/form.html" %}
    <div
      id="todo-list"
      hx-get="/htmx-api/todo"
      hx-target="this"
      hx-trigger="load"
      hx-swap="outerHTML"
      class="dark:text-white"
    >
      Loading...
    </div>
  </main>
</div>
{% endblock %}
